(custom-set-variables
 '(fs-dir "H:/document/projects/egg/trunk/"))

(setq locale-coding-system 'utf-8)
(set-terminal-coding-system 'utf-8)
(set-keyboard-coding-system 'utf-8)
(set-selection-coding-system 'utf-8)
(prefer-coding-system 'utf-8)

(provide 'onlyu-locale-settings)
