<html>
<head>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
// barsVisualization must be global in our script tag to be able
// to get and set selection.
var barsVisualization;
// Load the Visualization API and the piechart package.
google.load('visualization', '1', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(draw_all);

function draw_all(){
	draw([
		%fps_data%
		], 'fps_div', 'fps');
	draw([
		%last_delay_data%
		], 'last_delay_div', 'last_delay');
	draw([
		%average_delay_data%
		], 'average_delay_div', 'average_delay');
	draw_pie([
			%range_fps_data%
			], "fps_range_div", "fps_range");
	draw_pie([
			%range_last_delay_data%
			], "last_delay_range_div", "last_delay_range");
	draw_pie([
			%range_average_delay_data%
			], "average_delay_range_div", "average_delay_range");
}
// Callback that creates and populates a data table, 
// instantiates the pie chart, passes in the data and
// draws it.
function draw(data_, div_name, name) {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'fps');
	data.addColumn('number', name);
	data.addRows(data_);

	barsVisualization = new google.visualization.ColumnChart(document.getElementById(div_name));
	barsVisualization.draw(data, {width:800, height:600});

	// Add our over/out handlers.
	google.visualization.events.addListener(barsVisualization, 'onmouseover', barMouseOver);
	google.visualization.events.addListener(barsVisualization, 'onmouseout', barMouseOut);
}

function draw_pie(data_, div_name, name) {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'fps');
	data.addColumn('number', name);
	data.addRows(data_);

	barsVisualization = new google.visualization.PieChart(document.getElementById(div_name));
	barsVisualization.draw(data, {width:800, height:600});

	// Add our over/out handlers.
	google.visualization.events.addListener(barsVisualization, 'onmouseover', barMouseOver);
	google.visualization.events.addListener(barsVisualization, 'onmouseout', barMouseOut);
}


function barMouseOver(e) {
	barsVisualization.setSelection([e]);
}

function barMouseOut(e) {
	barsVisualization.setSelection([{'row': null, 'column': null}]);
}
</script>	
</head>

  <body>
    <!--Div that will hold the pie chart-->
    <div id="fps_div"></div>
    <div id="fps_range_div"></div>
    <div id="last_delay_div"></div>
    <div id="last_delay_range_div"></div>
    <div id="average_delay_div"></div>
    <div id="average_delay_range_div"></div>
  </body>
</html>
